html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.color-red {
	color: #FF0000;
}

.color-green {
	color: #00A63A;
}

.color-blue {
	color: #0056B1;
}

.font-small {
	font-size: 14px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.custom-img {
	width: 230px;
	height: 200px;
}

.hero-img {
	width: 430px;
	height: 320px;
}

.main-div {
	padding-top: 20px;
}

.margin-section {
	margin-top: 20px;
}

.square{
    width: 100%;
    height: 100%;
    background-color: #007bff;
    padding: 20px;
}

.video-frame {
	width: 750px;
	height: 300px;
}

iframe {
    border-width: 0px !important;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.card-form {
	width: 450px;
}

@media (max-width: 576px) {
	.hero-img {
		width: 375px;
		height: 250px;
	}

	.custom-img-long {
		width: 350px;
		height: 200px;
	}

	.video-frame {
		width: 100%;
		height: 250px;
	}

	.card-form {
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.div-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.div-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
}

@media (min-width: 1200px) {
	.div-margin {
		margin-left: 50px;
		margin-right: 50px;
	}
}